@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&family=Roboto&display=swap');

h{font-family: 'Montserrat', sans-serif;}
body{font-family: 'Roboto', sans-serif;}
.App-logo-text{font-family: 'Bangers', cursive;}

.App {
  text-align: center;
}

.App-logo {
  height: 32px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.min-h-100{
  min-height: 100vh;
}

.dis-flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.all-center {
  align-items: center !important;
  justify-content: center !important;
}

.h-45{
  height: 45vh !important;
}

.w-50{
  min-width: 50px;
}

.w-200{
  min-width: 200px;
}
